/* From Uiverse.io by cssbuttons-io */ 
button {
  --color: #560bad;
  font-family: inherit;
  display: inline-block;
  width: 25vw;
  height: 2.6em;
  line-height: 2.5em;
  margin: 5px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 170px;
  width: 800px;
  border-radius: 50%;
}

button:hover {
  color: #fff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button:hover:before {
  top: -50px;
  left: -50px;
}

button:active:before {
  background: #3a0ca3;
  transition: background 0s;
}
